{% extends 'base.html.twig' %}

{% block title %}Modification procédure{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Procédures de tests: Modification fiche {{ proccess.ordre }} {{ proccess.type.libelle }} </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{  path('dashbord') }}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{{  path('proccess_index') }}">Procédures</a></li>
                            <li class="breadcrumb-item active">Modification fiche {{ proccess.ordre }} procédure {{ proccess.type.libelle }} </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire de modification fiche {{ proccess.ordre }} procédure {{ proccess.type.libelle }} </h3>
                        <span class="float-right">{{ include('proccess/_delete_form.html.twig') }}</span>
                        <div class="card-tools mr-2">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{ include('proccess/_form.html.twig', {'button_label': 'Enregistrer la modification de la procédure'}) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}
