{% extends 'base.html.twig' %}

{% block title %}Materiels{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Materiels</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{  path('dashbord') }}">Accueil</a></li>
                            <li class="breadcrumb-item active">Materiels</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tableau du Materiels</h3>
                                <a href="{{ path('materiels_new') }}" class="btn btn-outline-success float-right">Entrer un nouveau materiel</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Type</th>
                                        <th>Marque</th>
                                        <th>Modele</th>
                                        <th>NSerieFabricant</th>
                                        <th>Provenance</th>
                                        <th>Etat</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for materiel in materiels %}
                                        <tr>
                                            <td>{{ materiel.id }}</td>
                                            <td>
                                                {{ materiel.modele.type.libelle }}
                                            </td>
                                            <td>
                                                {{ materiel.modele.marque.libelle }}
                                            </td>
                                            <td>
                                                {{ materiel.modele.libelle }}
                                            </td>
                                            <td>{{ materiel.nSerieFabricant }}</td>

                                            <td>
                                                {% if materiel.lots %}
                                                    <h4><span class="badge badge-info">{{ materiel.lots.fournisseur.libelle ~' | Lot: ' ~materiel.lots.id}}</span></h4>
                                                {% elseif materiel.pointCollect %}
                                                   <h4> <span class="badge badge-primary">{{ materiel.pointCollect.libelle ? 'P. Collecte: '~ materiel.pointCollect.libelle ~ ' | Nom: '~ materiel.contactUsername : ''}}</span></h4>
                                                {%  elseif materiel.distributeurs %}
                                                <h4><span class="badge badge-secondary">Distributeur: {{ materiel.distributeurs.libelle }}</span></h4>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if materiel.etat == null %}
                                                    <h3><a href="{{ path('materiels_show', {'id': materiel.id}) }}" class="btn-outline-success"><span class="badge badge-dark">Test en cours</span></a></h3>
                                                {% elseif materiel.etat == 1 %}
                                                    <h3><span class="badge badge-success">A Vendre</span></h3>
                                                {% elseif materiel.etat == 2 %}
                                                    <h3><span class="badge badge-warning">A Donner</span></h3>
                                                {% elseif materiel.etat == 3 %}
                                                    <h3><span class="badge badge-danger">A Recycler</span></h3>
                                                {% elseif materiel.etat == 4 %}
                                                    <h3><span class="badge badge-primary">Att Requise</span></h3>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('materiels_show', {'id': materiel.id}) }}" class="btn btn-success">Voir</a>
                                                <a href="{{ path('materiels_edit', {'id': materiel.id}) }}" class="btn btn-warning">Modif.</a>
                                                <!--{{ include('materiels/_delete_form.html.twig') }}-->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Marque Modele</th>
                                        <th>NSerieFabricant</th>
                                        <th>Provenance</th>
                                        <th>Etat</th>
                                        <th>actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
{% block javascripts %}

    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('js/adminlte.min.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
