{% extends 'base.html.twig' %}

{% block title %}Materiels{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Modèles: Fiche materiel n° {{ materiel.id }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{  path('dashbord') }}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{{  path('models_index') }}">Modèles</a></li>
                            <li class="breadcrumb-item active">Fiche modèle: </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Materiels n° {{ materiel.id }}</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                {% if reprise %}
                                    <a href="{{ path('secondstep') }}" class="btn btn-success w-100">Reprendre et continuer le test</a>
                                {% else%}
                                    <a href="{{ path('secondstep') }}" class="btn btn-success w-100">Commencer le test</a>
                                {% endif %}
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ materiel.id }}</td>
                                    </tr>
                                    {% if materiel.contactusername %}
                                        <tr>
                                            <th>Contact</th>
                                            <td>{{ materiel.contactusername }}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact</th>
                                            <td>{{ materiel.contactemail }}</td>
                                        </tr>
                                    {% endif %}

                                    {% if materiel.distributeurs %}
                                        <tr>
                                            <th>Distributeur</th>
                                            <td>{{ materiel.distributeurs.libelle }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if materiel.lots %}
                                        <tr>
                                            <th>Fournisseur</th>
                                            <td>{{ materiel.lots.fournisseur.libelle }}</td>
                                        </tr>
                                        <tr>
                                            <th>Lots</th>
                                            <td>{{ materiel.lots.id }}</td>
                                        </tr>

                                    {% endif %}
                                    <tr>
                                        <th>Image </th>
                                        <td><img src="{{ vich_uploader_asset(materiel.modele, 'imageFile') }}"  alt="" class="w-25"></td>
                                    </tr>
                                    <tr>
                                        <th>Notice </th>
                                        <td><a href="{{ vich_uploader_asset(materiel.modele, 'noticeFile') }}" target="_blank">{{ materiel.modele.notice }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Pilote </th>
                                        <td><a href="{{ vich_uploader_asset(materiel.modele, 'piloteFile') }}" target="_blank">{{ materiel.modele.pilote }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>{{ materiel.modele.type.libelle }}</td>
                                    </tr>
                                    <tr>
                                        <th>Marque</th>
                                        <td>{{ materiel.modele.marque.libelle }}</td>
                                    </tr>
                                    <tr>
                                        <th>Modele</th>
                                        <td>{{ materiel.modele.libelle }}</td>
                                    </tr>
                                    <tr>
                                        <th>NSerieFabricant</th>
                                        <td>{{ materiel.nSerieFabricant }}</td>
                                    </tr>
                                    {% if materiel.nSerieFournisseur %}
                                    <tr>
                                        <th>NSerieFournisseur</th>
                                        <td>{{ materiel.nSerieFournisseur }}</td>
                                    </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <a href="{{ path('secondstep') }}" class="btn btn-success w-100">Commencer le test</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if tests %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tests du Materiels n° {{ materiel.id }}</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <table class="table">
                                    <tr>
                                        <th>Step</th>
                                        <th>Tests</th>
                                        <th>Résultats</th>
                                        <th>Actions</th>
                                    </tr>
                                    {%  for test in tests %}
                                        <tr>
                                            <td>{{ test.proccess.ordre }}</td>
                                            <td>
                                                {{ test.proccess.action|striptags|slice(0, 45, true, '...')|raw ~'...'}}
                                            </td>
                                            <td>
                                                {% if test.resultat == 1 %}
                                                    <span class="badge badge-success">Reussi</span>
                                                {% else %}
                                                    <span class="badge badge-danger">Echec</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="" class="btn btn-warning">Modif</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>Step</th>
                                        <th>Tests</th>
                                        <th>Résultats</th>
                                        <th>Actions</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {%  endif %}
            </div>
        </section>

    </div>
{% endblock %}
