{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Fournisseurs</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{  path('dashbord') }}">Accueil</a></li>
                            <li class="breadcrumb-item active">Fournisseurs</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tableau des fournisseurs</h3>
                                <a href="{{ path('fournisseurs_new') }}"  class="btn btn-outline-success float-right">Créer un nouveau fournisseur</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Enseigne</th>
                                        <th>Adresse</th>
                                        <th>Code Postale</th>
                                        <th>Ville</th>
                                        <th>Téléphone Fixe</th>
                                        <th>Téléphone Portable</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fournisseur in fournisseurs %}
                                        <tr>
                                            <td>{{ fournisseur.id }}</td>
                                            <td>{{ fournisseur.libelle }}</td>
                                            <td>{{ fournisseur.adresse }}</td>
                                            <td>{{ fournisseur.codePostale }}</td>
                                            <td>{{ fournisseur.ville }}</td>
                                            <td>{{ fournisseur.telFixe }}</td>
                                            <td>{{ fournisseur.telPortable }}</td>
                                            <td>
                                                <a href="{{ path('fournisseurs_show', {'id': fournisseur.id}) }}" class="btn btn-success">Voir</a>
                                                <a href="{{ path('fournisseurs_edit', {'id': fournisseur.id}) }}" class="btn btn-warning">Modif.</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Enseigne</th>
                                        <th>Adresse</th>
                                        <th>Code Postale</th>
                                        <th>Ville</th>
                                        <th>Téléphone Fixe</th>
                                        <th>Téléphone Portable</th>
                                        <th>actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
{% block javascripts %}

    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('js/adminlte.min.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
